<!--
        Purpose: Answers page for ejs engine render
        Authors: McMaster Team
        Date: 2017-04-16
        Version: 1.0
 -->

<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h2> <%= quiz.name %> </h2>
            <br/>
            <h4> Stakehodler: <b> <%= quiz.stakeholder %> </b> </h4>
            <h4> Badge: <b> <%= quiz.badge %> </b> </h4>
            <br/>
            <% for (let count = 0; count < answer.questions.length; count++) { %>
              <br>
              Question <%= count +1  %>: <%= quiz.questions[count].question %><br>
              <table class="table table-hover">
                  <% if(answer.questions[count].category == "sa") { %>
                    <tr>
                      <th>Answer</th>
                    </tr>
                  <% } else { %>
                    <tr>
                      <th>Option</th>
                      <th>Answer</th>
                    </tr>
                  <% } %> 
                
                    
                  <% if(answer.questions[count].category == "mc" || answer.questions[count].category == "tf") { %>
                    <tr><td> <%= quiz.questions[count].options[0] %> </td><td> <%= answer.questions[count].answers[0] %> </td></tr>
                    <tr><td> <%= quiz.questions[count].options[1] %> </td><td> <%= answer.questions[count].answers[1] %> </td></tr>
                  <% } %>

                  <% if(answer.questions[count].category == "mc") { %>
                    <tr><td> <%= quiz.questions[count].options[2] %> </td><td> <%= answer.questions[count].answers[2] %> </td></tr>
                    <tr><td> <%= quiz.questions[count].options[3] %> </td><td> <%= answer.questions[count].answers[3] %> </td></tr>
                  <% } %>

                  <% if(answer.questions[count].category == "sa") { %>
                    <% for (let i = 0; i < answer.questions[count].answers.length; i++) { %>
                      <tr><td> <%= answer.questions[count].answers[i] %> </td></tr>
                    <% } %>
                  <% } %>
              </table>
            <% } %>
          </div>
        </div>
<% include ../partials/footer.ejs %> 