<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form method="post">
              Survey name: <input type="text" name="surveyName" value="<%= survey.name %>"><br>              

              <% for (let count = 0; count < survey.questions.length; count++) { %>
                <br>                
                Question <%= count +1  %>: <input type="text" name="q<%= count %>" value="<%= survey.questions[count].question %>"><br>
                Option 1: <input type="text" name="q<%= count %>o1" value="<%= survey.questions[count].options[0] %>"><br>
                Option 2: <input type="text" name="q<%= count %>o2" value="<%= survey.questions[count].options[1] %>"><br>

                <% if(survey.questions[count].category == "mc") { %>
                  Option 3: <input type="text" name="q<%= count %>o3" value="<%= survey.questions[count].options[2] %>"><br>
                  Option 4: <input type="text" name="q<%= count %>o4" value="<%= survey.questions[count].options[3] %>"><br>
                <% } %>
              <% } %>

              Add question
              <input type="submit" name="submitbutton" value="Multiple Choice">
              <input type="submit" name="submitbutton" value="True False">
              <input type="submit" name="submitbutton" value="Remove Last">

              <br>
              <input type="submit" name="submitbutton" value="Create">
            </form>
          </div>
        </div>
<% include ../partials/footer.ejs %> 