<!--
        Purpose: Quiz taking page for ejs engine render
        Authors: McMaster Team
        Date: 2017-04-16
        Version: 1.0
 -->

<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form method="post">
              <h2> <%= quiz.name %>   </h2>      

              <% for (let count = 0; count < quiz.questions.length; count++) { %>
                <br>                
                <h4> Question <%= count +1  %>: <%= quiz.questions[count].question %><br> </h4>
                
                <% if(quiz.questions[count].category == "mc" || quiz.questions[count].category == "tf") { %>
                  <input type="radio" name="q<%= count %>" value="0"> <%= quiz.questions[count].options[0] %><br>
                  <input type="radio" name="q<%= count %>" value="1"> <%= quiz.questions[count].options[1] %> <br>
                <% } %>

                <% if(quiz.questions[count].category == "mc") { %>
                  <input type="radio" name="q<%= count %>" value="2"> <%= quiz.questions[count].options[2] %> <br>
                  <input type="radio" name="q<%= count %>" value="3"> <%= quiz.questions[count].options[3] %> <br>
                <% } %>

                <% if(quiz.questions[count].category == "sa") { %>
                  <input type="text" name="q<%= count %>"><br>
                <% } %>
              <% } %>
              <br/>
              <br/>
              <input class="btn btn-success" type="submit" value="Submit">
            </form>
          </div>
        </div>
<% include ../partials/footer.ejs %> 